.cardSafe{
    border: 1px solid rgba(255, 255, 255, 0.13);
    background: rgba(26, 28, 35);
    padding: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 7px;
}
@media (max-width: 1000px) {
    .cardSafe{
        padding: 15px 10px;
    }
}
.cardBox{
    border: 1px solid rgba(255, 255, 255, 0.13);
    background: rgba(26, 28, 35);
    padding: 10px 15px;
    position: relative;
    border-radius: 7px;
    z-index: 10;
    transition: transform 0.08s linear;
}
.cardBox-movieAction{
    position: absolute;
    top: 0;
    display: flex;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 100%;
}
.cardBox-movieAction-l, .cardBox-movieAction-r{
    width: 50vw;
    height: calc(100% - 20px);
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    border-radius: 10px;
    background: rgb(38, 36, 36);
}
.cardBox-movieAction-r{
    align-items: flex-end;
}
.cardBox-movieAction-r{

}
.cardBox-movieAction-l{

}
.vs-icon-close:after, .vs-icon-close:before{
    background: #fff;
}
.vs-dialog__close i{
    opacity: 0.9;
}
.vs-dialog--fullScreen .vs-dialog__content {
    max-height: calc(100vh - 90px);
    overflow: auto;
}
.vs-switch{
    background: #2c2b2b;
    color: #fff;
}
.vs-switch:hover{
    background: #282626;
}
.vs-switch__text{
    color: #fff;
}
.Apprentice__choose{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    z-index: 5;
    font-size: clamp(1rem, 70vw, 300px);
    text-shadow: 0 5px 5px #0d0d6c;
    color: #fff;
    opacity: 0;
    transition: .4s;
    animation: ApprenticeChoose .4s forwards;
    pointer-events: none;
}

@keyframes ApprenticeChoose {
    0%{
        transform: translate(-50%,-50%) scale(0);
        opacity: 0;
    }
    100%{
        transform: translate(-50%,-50%) scale(1);
        opacity: 1;
    }
}

.vs-input, .vs-select__input, .vs-select__options{
    background: rgb(35, 35, 40) !important;
    color: white;
    width: 100%;
}
.vs-input:focus{
    background: rgb(42, 42, 49);
}

.vs-button--border:focus{
    background: transparent !important;
}
.vs-input__label{
    color: rgba(255, 255, 255, 0.45);
}

.vs-avatar{
    color: #fff;
    background: rgba(42, 42, 42, 0.55);
}
.vs-component--primary .vs-avatar{
    background: rgba(70,201,58);
}
.v-toast__item--success{
    border: 1px solid rgb(70,201,58) !important;
    background: #121317 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--default, .Toastify__toast-theme--light{
    background: #121317 !important;
    box-shadow: 0 3px 20px rgba(29, 169, 48, 0.22) !important;
}
.Toastify__toast--error{
    box-shadow: 0 3px 20px rgba(231, 76, 60, 0.25) !important;
}
.Toastify__close-button path{
    fill: #fff;
}

.list-enter-active {
    animation: fade-in 0.5s ease-in-out;
}

.list-leave-active {
    animation: fade-in 0.5s ease-in-out reverse;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        transform: translateX(0px);
    }
}
.vs-dialog{
    background: #121317;
}



.p-button {
    background: #6366F1;
    padding: 0.5em 1em;
    font-size: 15px;
    color: #fff;
}
.p-button-sm{
    font-size: 13px;
}
.p-button-lg{
    font-size: 17px;
}
.p-button-outlined{
    background: transparent;
    border: 1px solid #6366F1;
    color: #6366F1;
}
.p-button-danger{
    background: transparent;
    border: 1px solid rgb(255, 71, 87);
    color: rgb(255, 71, 87);
}
.p-inputtext{
    width: 100%;
    height: 40px;
    padding-left: 10px;
}
.p-dialog {
    width: calc(100vw - 40px);
}
.p-avatar{
    background: #222831;
}
.p-avatar-text{
    line-height: 1;
    margin-top: -3px;
    color: #fff;
    font-size: 20px;
}
.historyLine {
    transition: transform 0.5s ease; /* Настройте время и функцию перехода по своему усмотрению */
}


.historyList-move,
.historyList-enter-active,
.historyList-leave-active {
    transition: all 0.7s ease;
}
.historyList-enter-from,
.historyList-leave-to {
    opacity: 0;
    transform: translateY(-35px);
}
.historyList-leave-active {
    position: absolute;
}


